/**
 * fonts.scss
 *
 * Set font styles across GOST frontend.
 */

// IMPORT FONTS FROM GOOGLE FONTS:
// INTER MEDIUM 500 (BODY FONT)
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

// SET HEADING FONTS TO LORA
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 120%;
}

h1, .h1 { // called 'headingXL' in USDR Design System
  font-size: 2.375rem; // 38px
}

h2, .h2 { // 'headingLarge'
  font-size: 1.875rem; // 30px
}

h3, .h3 { // 'headingMedium'
  font-size: 1.25rem;
}

h4, .h4 { // 'headingSmall'
  font-size: 1rem;
}

h5, .h5, p { // 'headingXS' and 'body'
  font-size: 0.875rem; // 14px
}

h6, .h6, .caption { // 'caption'
  font-size: 0.8125rem; // 13px
}

// SET BODY FONTS TO INTER
body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
