/* Make vue-select dropdowns match the height for other form controls */
.vs__dropdown-toggle {
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 4px;
  padding-right: 4px;
}

.vs__open-indicator {
  cursor: pointer;
}

.vs__search::placeholder {
  color: #878787;
}

.vs__dropdown-option--disabled {
  text-transform: uppercase;
  font-size: 12px;
}
.vs__dropdown-option--disabled:not(:first-child) {
  margin-top: 12px;
}
