name: Build Docker image for GOST API

on:
  push:
    branches:
      - _staging
      - main
    paths:
      - "packages/server/**"
      - "docker/production-api.Dockerfile"
      - "yarn.lock"
      - ".github/workflows/build-api.yaml"
  pull_request: {}
  release:
    types:
      - published

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-api

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Authenticate docker
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,enable=true,priority=100,prefix=,suffix=,format=short
            type=raw,enable=true,priority=200,prefix=,suffix=,value={{date 'YYYYMMDD.HHmm'}}
            type=raw,enable=${{ github.event_name == 'push' }},priority=300,value=latest
            type=raw,enable=${{ github.ref == 'refs/heads/main' }},priority=300,value=stable
          labels: |
            org.opencontainers.image.title=usdr-gost-api
            org.opencontainers.image.version={{date 'YYYYMMDD.HHmm'}}
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          file: docker/production-api.Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64,linux/arm64
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            GIT_COMMIT=${{ github.sha }}
            GIT_REF=${{ github.ref }}
            TIMESTAMP=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
      - if: ${{ github.event_name == 'pull_request' }}
        run: echo "Builds triggered by pull requests are not published."
